@media (max-width: 1200px)
    .navbar
        &_subhead
            .btn
                .download_btn
                    display: none
    .head
        padding: 100px 0 100px
        &_bg
            left: 250px
        &_subhead
            flex-direction: column
        h1
            font-size: 30px
            line-height: 35px
        h2
            font-size: 35px
            line-height: 35px
        &_mail
            margin-left: 0px
            margin-top: 20px
        &_img
            padding: 0px
            padding-top: 50px
            img
                width: 300px
    .job
        padding: 100px 00 100px
        &_item
            .container_logo
                background-color: #1d1d1d
                margin-bottom: 20px
                display: flex
                justify-content: center
                img
                    margin-right: 0px
            &_position
                margin-left: 0px
                font-size: 18px
                line-height: 37px
            &_company
                font-size: 25px
    footer
        .footer_contentbox_mail
            margin-top: 20px
            margin-left: 0px
@media (max-width: 576px)
    .navbar
        &_active
        display: none
    .head
        padding: 50px 0
        &_bg
            display: none
        &_img
            display: none
        h1
            font-size: 30px
        h2
            font-size: 30px
            line-height: 45px
    .skills
        padding: 50px 0
    .job
        padding: 50px 0
        &_contentbox
            margin-top: 30px
        &_item
            .container_logo
                background-color: #1d1d1d
                display: flex
                justify-content: center
                img
                    margin-right: 0px
            &_position
            img
                margin: 0
            &_company
                margin-top: 20px
    .work
        padding: 50px 0
        &_contentbox
            padding: 15px
            &_item
                img
                    margin-right: 10px
                &_head
                    font-size: 15px
                a
                    font-size: 9px
    footer
        padding: 50px 0
        h2
            font-size: 30px
        .footer_contentbox_mail
            margin: 0 auto
        button
            margin: 0 auto
            margin-bottom: 30px

                    

    

